node_modules
dist
build
.next
Dockerfile
Readme.md
styled.d.ts
yarn-error.log
yarn.lock
next.config.js
*.jpg
public/favs/
public/fonts/
public/site.webmanifest
public/browserconfig.xml
__generated__
codegen.yml
*.graphql